---
import Layout from "../layouts/Layout.astro";
---

<Layout title="CDN Viewer" desc='404 - oops! Are you lost?'>
	<p>404 - Are you lost?</p>
	<p><a href="/">Back</a></p>
</Layout>

<style>
	p {
		text-align: center;
	}
</style>