---
import Entry from './Entry.astro';

interface Props {
	files: any;
	dirpath: string;
}
const { files, dirpath } = Astro.props;
---

<div class="grid-container">
	{files.map((file:any) =>
        <Entry
            name={file.name}
            href={file.name}
            size={file.directory ? "ディレクトリ" : file.sizeStr}
            type={file.directory ? "dir" : "file"}
			dirPath={dirpath}
        />
		// <p>{file.name}</p>
    )}
</div>

<style>
	.grid-container {
		display: grid;
		max-width: 100vw;
		width: 100%;
		margin-inline: auto;
		gap: 10px;
		grid-auto-flow: dense;
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (max-width: 768px) {
		.grid-container {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	@media screen and (max-width: 480px) {
		.grid-container {
			grid-template-columns: repeat(1, 1fr);
		}
	}
</style>